body, p {
    margin:0 ;
    font-family: Arial;
    box-sizing: border-box;
}
p{
  cursor:pointer;
}
#app{
    width: 100%;
}
.clr{
    clear:both;
}


.authoringContainer{
  width: 100%;
  background:#f5f5f5;
   overflow: hidden;
}
.leftToolbar{
    position: fixed;
    left: 0px;
    top: 85px;
    bottom: 0px;
    width:51px;
    background:#fafafa;
    border-right: 1px solid #A9A9A9;
}

.CommentsPanelContainer{
    position: fixed;
    /*left: 51px;*/
    width: 250px;
    float: left;
    background: #f5f5f5;
    border-right: 1px solid #A9A9A9;
    top: 85px;
    bottom: 0px;
}
.todoItem{
    padding: 20px;
    border-bottom: 1px solid #000;
    margin: 10px;
}
.pageContainer{
    position: fixed;
    left: 51px;
    right: 0px;
    bottom:0px;
    top: 85px;
    float: left;
    background: rgb(245, 245, 245);
    overflow: scroll;
}
.CommentsPanelContainer.open {
    left: 51px;
}
.pageContainer.open {
    left: 301px;
}
.leftToolbarIcons{
    margin:15px 0; 
    text-align: center;
    cursor: pointer;
}

/*start of Page Module */
.pageViewContent{
   width: 70%;
   margin: 2% 15%;
}
.pageSlateLabel{
  font-size: 12px;
  color: #7a7a7a;
  margin-bottom: 2%;
}
.todoContainer{
    background: #fff;
    padding: 10%;
    
}
.todoMain{
  position: relative;
}
.descriptionContent{
  width:90%;
  margin:0 5%;
}
.writeTodo{
    
    width: 100%;
    
}
.writeTodoLHeaderLabel{
    color:#7a7a7a;
}
.writeTodoLeftSide{
      position: absolute;
    left: -24px;
}

.writeTodoRightSide{
   width:1%;
   float:left;
   position: absolute;
  right: -9px;
}

.writeTodoLeftSide img, .writeTodoRightSide img {
  width:24px;
  height:24px;
  cursor: pointer;
}
.saveTodo{
    float:right;
    width:100%;
}
.pin{
         position: absolute;
    top: -15px;
    right: -8px;
}
/*end of Page Module */

/*start of header */
.headerContainer {
    width: 100%;
    position: fixed
}
.headerContent{
    width: 100%;
    height: 30px;
    color: #fff;
    background-color: #0a5a6f;
    padding: 1% 0;
}
.headerMenuIcon{
 width:5%;
  float:left;
  text-align: center;
}
.headerTitleLabel{
  width:25%;
  float:left;
}
.headerSearchBox{
  width:65%;
  float:left;
}
.searchImageIcon{
     position: relative;
    left: 32px;
    top: 5px;
}
.headePanelSearchBox{
  height: 25px;
  border-radius: 15px;
  border: 1px solid #c3c3c3;
  width: 400px;
  padding-left: 5%
}
.userProfileSection{
  width:5%;
  float:left;
  position: relative;
    top: -5px;
}
.headerEmptyBorderDiv{
  width:100%;
  height:30px;
  background-color: #D3D3D3
}
.userProfileImg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.profileContainer{
  position: absolute;
    top: 62px;
    right: 15px;
    background: #c3c3c3;
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
}
.profileDetails{
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}
.profilelabel{
  font-size: 12px;
  color:#000;
}
.profileName{
  color:#0a5a6f;
  font-size: 16px;
  margin:0 0 10px;
  font-weight: 600
}
.profileLogout{
  padding: 10px 20px;
  background: rgb(51, 122, 183);
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

/*end of header */


.commentContainer{
       z-index: 1;
    position: absolute;
    width: 380px;
    height: 260px;
    border: 1px solid #4a4a4a;
    right: 50px;
    top: 295px;
    padding: 1%;
    background: #fff;
}

.commentContainerHeader{
  width:100%;
  float:left;
}
.commentContainerText{
  width:100%;
  float:left;
}
.commentContainerButton{
  width:100%;
  float:left;
}
.commentContainerLabel{
     width: 95%;
    float: left;
    
    font-size: 18px;
    color: #7a7a7a;
}
.commentContainerClose{
 width:5%;
  float:left;
  cursor:pointer;
}
.commentContainerTextarea{
    width: 355px;
    height: 170px;
    margin: 2% 1%;
    resize: none;
    padding: 2%;
    font-size: 14px;
    border: 1px solid #979797;
}

.commentContainerSaveButton{
    float: right;
    background: #05b577;
    color: #fff;
    border: none;
    padding: 2%;
    font-size: 14px;
    cursor:pointer;
}



/*start of commentsPanel*/
.CommentsPanelContentManage{
  margin: 5%
}

.CommentsPanelContentLabel{
   
    font-size: 14px;
    color: #4b4b4b;
}
.CommentsPanelSearchDiv{
    position: relative;
    top: -10px;
}
.CommentsPanelSearchDiv img{
    position: relative;
    top: 28px;
    left: 10px;
}
.CommentsPanelSearchBox{
    padding-left: 15%;
    height: 25px;
    border-radius: 15px;
    border: 1px solid #c3c3c3;
    width: 85%;
  
  } 
  .showGlobalAndClear{
     width:100%;
    margin:5% 0;
  }   
.showGlobal{
   width:50%;
   float:left;
}
.showGlobal label{
    font-size: 13px;
    color: #4b4b4b;
}

.commentSortContainer{
  margin:10% 0 20%;
}
.commentSortContainer label{
  width: 30%;
  float: left;
  position: relative;
  top: 5px;
  font-size: 14px;
  color: #4b4b4b;
}
.commentSortContainer select{
    height: 35px;
    border: none;
    background: #fafafa;
    width: 70%;
    float: left;
    border-bottom: 2px solid #e7e7e7;
    cursor:pointer;
}

.commentSortByTime{

}
.commentSortByAssigne{
    margin:5% 0;
}

.commentSortByStatus{

}

.userCommentsContainer{
  
    width: 100%;
    height: 500px;
    overflow: scroll;
}

.userCommentContent{
 
    width: 100%;
    border-top: 1px solid #e7e7e7;
    margin: 15% 0;
    position: relative
}
.userCommentStyleTriangle{
  width:100%;
  float:left;
}
.userCommentStyleTriangle img{
  float:right;
}
.userCommentHeader{
    width: 96%;
    float: left;
    margin: 0 2%;
}

.userCommentSummary{
   width: 96%;
    float: left;
    margin: 2%;
    
    font-size: 14px;
    color: #717171;
}
.userCommentShortname{
  width: 13%;
    float: left;
    padding: 0 1%;
  
}
.userCommentShortname div{
  text-align:center;
    border-radius: 50%;
    background-color: #1ca9db;
    height: 20px;
    padding: 6px 0;
    color:#fff;
    
    font-size: 14px;
}
.userCommentNameDetails{
  width:68%;
  float:left;
  padding: 0 2%;
  
    font-size: 12px;
    color: #717171;
}
.userCommentOptions{
  width:5%;
  float:left;
  text-align:center;
  cursor: pointer;
}

.userCommentNameLabel{
  width:100%;
  float:left;
}
.userCommentDisplayDate{
  width:100%;
  float:left;
}

.userCommentStatusContent{
   width: 96%;
    float: left;
   margin: 5% 2%;
}
.userCommentStatusState{

}
.userCommentStatusShow{
  width: 100%;
  margin: 5% 0;
}
.userCommentStatusShowLabel{
  width: 30%;
  float: left;
  font-size: 12px;
}

.userCommentStatusShowRes{
  
    font-size: 12px;
    color: #717171;
    width: 60%;
    float: left;
}
.userCommentStatusShowRes select{
    border: none;
    background: #fafafa;
    border-bottom: 2px solid #e7e7e7;
    cursor:pointer;
}
.userCommentRepliesContainer{
  width:100%;
}

.userCommentReplyView{
  background: #eeeeee;
  width:96%;
  padding:5% 2%;
}
.userCommentReplyNumber{
    width: 100%;
    float: left;
    font-size: 12px;
    color: #717171;
    padding:2% 0;
}
.userCommentReplySummary{
    width: 96%;
    float: left;
    background: #fff;
    font-size: 12px;
    color: #717171;
    padding: 2% 2% 5%;
}
.userCommentReplyTextarea{
    width: 100%;
    float: left;
    background: #fff;
    resize: none;
    height: 80px;
}
.userCommentReplySummary1 {
    width: 96%;
    float: left;
    font-size: 12px;
    color: #717171;
   
}
.userCommentReplyButton{
   width: 100%;
    float: left;
    padding:2% 0;
}
.userCommentReplyButton p{
  font-size: 12px;
  float:right;
  color: #717171;
  margin:0 3%;
  cursor:pointer;
}
.userCommentReplyCancel{
  color:#737373;
}



  /*end of commentsPanel*/



  .optionsPanelContainer{
      z-index: 1;
    position: absolute;
    width: 70px;
    height: 140px;
    border: 1px solid #4a4a4a;
    background: #fff;
    margin-left: 62%;
    
  }
  .optionsPanelContainer p{
    
    font-size: 12px;
    cursor: pointer;
    margin: 0;
    padding: 10%;
  }
  .optionsPanelContainer p:hover{
    background: #05b577;
  }









  /* start of login */

.loginContainer{
    background: #333;
    width: 100%;
    height: 100%;
    bottom: 0px;
    position: fixed;
}
.loginContainer a{
  text-decoration: none;
  color: rgb(46, 109, 164);
  cursor: pointer;
}
.form_bg{
  background-color: #eee;
    color: #666;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    border: 1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 420px;
    height: 450px;
}
.text-center {
    text-align: center;
}
.h2, h2 {
    font-size: 30px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.loginInputDiv{
  margin:2% 0;
}
.loginInputDiv2{
  margin:2% 0 5%;
}
.form-control {
    display: block;
    width: 96%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
    background-image: none;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
    padding: 1% 2%;
    border: 1px solid rgb(204, 204, 204);
    border-image: initial;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.loginButton{
  width:100%;
  display: block;
  font-size: 18px;
  line-height: 1.33333;
  padding: 10px 16px;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  background-color: rgb(51, 122, 183);
  border-color: rgb(46, 109, 164);
  cursor:pointer;
}
.signUpLabel{
  float:right;
  margin-top: 10%;
}
.loginSocial{
  width:100%;
  margin:10% 0;
}
.loginSocialLabel{
  font-size: 18px;
}
.loginSocialButtons{
  margin:2% 0 0;
}
.fbLoginButton, .googleLoginButton{
  width:48%;
  float:left;
  margin:0 1%;
}
.fbLoginButton button{
  color: rgb(255, 255, 255);
    background-color: #3b5998;
    font-size: 14px;
    line-height: 1.33333;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
}
.googleLoginButton button{
   color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 1.33333;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
}
 /* end of login */

 /* start of signup */

.signUpContainer{
    background: #333;
    width: 100%;
    height: 100%;
    bottom: 0px;
    position: fixed;
}
.signup-control{
  display: block;
  width:100%;
  height: 34px;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(85, 85, 85);
  background-color: rgb(255, 255, 255);
  background-image: none;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
  padding: 0 1%;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
}
.nameFieldWidth{
  width:100%;
}
.nameField1{
 width:49%;
 float:left;
}
.nameField2{
  width:49%;
  float:left;
  margin-left: 2%
}
.nameField3{
  width:100%;
  margin:2% 0;
}

  /* end of signup */

  
